<div class="container text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">INICIO</a></li>
            <li class="breadcrumb-item"><a>LISTA DE MOTIVO</a></li>
            <li class="breadcrumb-item"><a href="/motivo/adicionar">NOVO MOTVITO <img src="/img/add-24.png" alt=""></a>
            </li>
        </ol>
    </nav>
</div>

<main>
</main>
<%- include('../../layout/modals/modalDelete') %>