<div class="container text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">INICIO</a></li>
            <li class="breadcrumb-item"><a href="/setor">LISTA DE SETOR</a></li>
            <li class="breadcrumb-item"><a>EDITAR SETOR</a></li>
            <li class="breadcrumb-item"><a href="/setor/adicionar">NOVA SETOR <img src="img/add-24.png" alt=""></a>
            </li>
        </ol>
    </nav>
</div>
<main class="container">
    <% var arrSetor=JSON.parse(data); arrSetor.forEach(el=> {
        setor = el;
        });

        %>
        <form action="/setor/editar/salvar" method="post" class="row g-3">
            <input type="hidden" value="<%=setor.idSetor%>" name="idSetor">
            
                <div class="col">
                    <label class="form-label">NOME SETOR</label>
                    <input type="text" class="form-control" value="<%=setor.descSetor%>" name="descSetor">
                </div>
                <div class="row g-3">
                    <div class="col-1">
                         <input type="submit" class="btn btn-success" value="SALVAR">
                    </div>
                    <div class="col-1">
                         <a class="btn btn-secondary" href="/setor" >CANCELAR</a>
                    </div>                   
                </div>
            
        </form>

</main>