<div class="container text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">INICIO</a></li>
            <li class="breadcrumb-item"><a href="/setor">LISTA DE SETOR</a></li>
            <li class="breadcrumb-item"><a>NOVO SETOR</a>
            </li>
        </ol>
    </nav>
</div>