<link rel="stylesheet" href="/css/tom-select.default.min.css">
<script src="/js/tom-select.complete.min.js"></script>
<script src="/js/jquery.min.js"></script>
<style>
    .sem-relogio::-webkit-calendar-picker-indicator {
  background: none;
  display: none;
}

</style>
    <title>APONTAMENTOS</title>
</head>