<div class="container text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">INICIO</a></li>
            <li class="breadcrumb-item"><a href="/submotivo">LISTA DE SUB MOTIVO</a></li>
            <li class="breadcrumb-item"><a>EDITAR SUB MOTIVO</a></li>
            <li class="breadcrumb-item"><a href="/submotivo/adicionar">NOVA SUB MOTIVO <img src="img/add-24.png" alt=""></a>
            </li>
        </ol>
    </nav>
</div>