<main class="container">
    <h4>DIAS PROGRAMADO - SETOR PINTURA</h4>
        
    <ul id="listProgress" class="list-group col-md-4 text-center">
        <li class="list-group-item">P01 - <span id="pintura-1"></span> dias
            <div id="progress-1" class="progress" role="progressbar" aria-label="Animated striped example" 
                aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped progress-bar-animated " >
                </div>
            </div>
        </li>
        <li class="list-group-item">P02 - <span id="pintura-2"></span> dias
            <div id="progress-2" class="progress" role="progressbar" aria-label="Animated striped example" 
                aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped progress-bar-animated " >
                </div>
            </div>
        </li>
        <li class="list-group-item">P03 - <span id="pintura-3"></span> dias
            <div id="progress-3" class="progress" role="progressbar" aria-label="Animated striped example"
                aria-valuemin="0" aria-valuemax="100"> 
                <div class="progress-bar progress-bar-striped progress-bar-animated"></div>
            </div>
        </li>
        <li class="list-group-item">P04 - <span id="pintura-4"></span> dias
            <div id="progress-4" class="progress" role="progressbar" aria-label="Animated striped example" 
                aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped progress-bar-animated " >
                </div>
            </div>
        </li>        
    </ul>
</main>

<script>
    document.addEventListener("DOMContentLoaded", async function () {
        for(let m = 1; m <=5; m++ ){
            var sumDifDates = 1
            await fetch(`http://192.168.0.10:3000/home/ver-fila/${m}`)
            .then(response => {
                if (response.status == 200) {
                    return response.json();
                }
            })
            .then(data => {
                //console.log(m == 5 ? data : "")
                var dates = [new Date];
                if (data != 0) {
                    for (const key in data) {
                        dates.push(data[key].previsionEnd);
                        
                    }
                    
                    var firstDate = new Date(dates[0]);
                    var dayMilisecnd = 1000 * 60 * 60 * 24;
                    for (let i = 1; i < dates.length; i++) {

                        var timeDiff = new Date(dates[i]).getTime() - firstDate.getTime();
                        firstDate = new Date(dates[i]);

                        sumDifDates += Math.round(timeDiff / dayMilisecnd);

                       
                    }
                }else{
                    sumDifDates = 0;
                }
                
               ;
                
            });
            var list = document.getElementById("listProgress");
            var span = document.getElementById(`pintura-${m}`);
            var progress = document.getElementById(`progress-${m}`);
            var porcentagem = Math.round((sumDifDates / 22)*100);
            progress.setAttribute("aria-valuenow", porcentagem);
            var progress_bar = progress.querySelector(".progress-bar");
            progress_bar.setAttribute("style", `width: ${porcentagem}%`)
            var styleColor = "bg-success";
            if(porcentagem >= 50 && porcentagem <= 70)
            {
                 styleColor = "bg-warning";
            }

            if(porcentagem > 71)
            { 
                styleColor = "bg-danger";
            }

            progress_bar.classList.add(styleColor);
            
            span.innerText = sumDifDates;

      
            
        }
        

    })
</script>