<aside class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">MENU PRINCIPAL</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="container text-center">
            <h5>CADASTROS</h5>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><a class="dropdown-item" href="\clientes">CADASTRO CLIENTE</a></li>
            <li class="list-group-item"><a class="dropdown-item" href="#">CADASTRO PRODUTO</a></li>
            <li class="list-group-item"><a class="dropdown-item" href="#">CADASTRO OPERADOR</a></li>
            <li class="list-group-item"><a class="dropdown-item" href="#">CADASTRO MAQUINA</a></li>
            <li class="list-group-item"><a class="dropdown-item" href="#">CADASTRO SETOR</a></li>
            <li class="list-group-item"><a class="dropdown-item" href="#">CADASTRO MOTIVO</a></li>
            <li class="list-group-item"><a class="dropdown-item" href="#">CADASTRO SUBMOTIVO</a></li>
        </ul>

    </div>
</aside>