<aside class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">MENU PRINCIPAL</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="container">
            <div class="container text-center">
                <h5>CADASTROS</h5>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><a class="dropdown-item" href="\cliente">CADASTRO CLIENTE</a></li>
                <li class="list-group-item"><a class="dropdown-item" href="\produto">CADASTRO PRODUTO</a></li>
                <li class="list-group-item"><a class="dropdown-item" href="\operador">CADASTRO OPERADOR</a></li>
                <li class="list-group-item"><a class="dropdown-item" href="\maquina">CADASTRO MAQUINA</a></li>
                <li class="list-group-item"><a class="dropdown-item" href="\setor">CADASTRO SETOR</a></li>
                <li class="list-group-item"><a class="dropdown-item" href="\motivo">CADASTRO MOTIVO</a></li>
                <li class="list-group-item"><a class="dropdown-item" href="\submotivo">CADASTRO SUBMOTIVO</a></li>
                <li class="list-group-item"><a class="dropdown-item" href="\tipoproduto">CADASTRO TIPO PRODUTO</a></li>
                <li class="list-group-item"><a class="dropdown-item" href="\representante">CADASTRO REPRESENTANTE</a></li>
            </ul>
        </div>
        <br>
        <div class="container">
            <div class="container text-center">
                <h5>LANÇAMENTOS</h5>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><a class="dropdown-item" href="\amostra">AMOSTRAS</a></li>
                <li class="list-group-item"><a class="dropdown-item" href="\ordemproducao">ORDEM DE PRODUÇÃO</a></li>
                <li class="list-group-item"><a class="dropdown-item" href="\apontamento">APONTAMENTO</a></li>    
                <li class="list-group-item"><a class="dropdown-item" href="\filamaquina">CARGA MAQUINA PINTURA</a></li>
                <li class="list-group-item"><a class="dropdown-item" href="\fila-serigrafia">PROGRAMAR ITENS NA GRAVAÇÃO</a></li>
                <li class="list-group-item"><a class="dropdown-item" href="\fila-serigrafia\preview">CARGA MAQUINA SERIGRAFIA</a></li>
                <li class="list-group-item"><a class="dropdown-item" href="\apontamento-maquina">APONTAMENTO MAQUINA</a></li>
            </ul>
        </div>
    </div>
    </div>
</aside>