<header>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                aria-controls="offcanvasExample">
                MENU
            </a>
        </div>      
    </nav>
</header>