<div class="modal fade" id="staticBackdropStatus" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">ANDAMENTO</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="textQuantidadeOrdem"></p>
        <table class="table">
          <thead class="table-dark">
            <tr>
              <td>#</td>
              <th>PINTURA</th>
              <th>SILK</th>
              <th>HOT</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-success">(produzido)</td>
              <td class="text-success" id="tdPintura"></td>
              <td class="text-success" id="tdSilk"></td>
              <td class="text-success" id="tdHot"></td>
            </tr>

             <tr>
              <td class="text-danger">(saldo)</td>
              <td class="text-danger" id="saldoPintura"></td>
              <td class="text-danger" id="saldoSilk"></td>
              <td class="text-danger" id="saldoHot"></td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">FECHAR</button>

      </div>
    </div>
  </div>
</div>

<script>
  function statusProducao(element) {
    var quantidadeOrdem = element.querySelector('#quantidadeOrdem');
    document.getElementById('textQuantidadeOrdem').innerText = `Quantidade da ordem de producao: ${quantidadeOrdem.value}`;
    
    //coluna pintura
    var quantidadePintura = element.querySelector('#quantidadeProduzidoPintura');
    var quantidadePintado = 0;
    if(quantidadePintura !== null)
    {
       quantidadePintado = quantidadePintura.value;
    }
    document.getElementById('tdPintura').innerText = quantidadePintado;
    var saldoPintura = Number(quantidadeOrdem.value) - Number(quantidadePintado);
    document.getElementById('saldoPintura').innerText = saldoPintura;
    
    //coluna silk
    var quantidadeSilkProduzido = element.querySelector("#quantidadeProduzidoSilk");
    var quantidadeSilk = 0;
    if(quantidadeSilkProduzido !==null)
    {
      quantidadeSilk = quantidadeSilkProduzido.value;
    }
    document.getElementById('tdSilk').innerText = quantidadeSilk;
    var saldoSilk = Number(quantidadeOrdem.value) - Number(quantidadeSilk);
    document.getElementById('saldoSilk').innerText = saldoSilk;
  }
</script>