<div class="modal fade" id="staticBackdropStatus" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">ANDAMENTO</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>PINTURA</th>
                    <th>SILK</th>
                    <th>HOT</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                     <td>0</td>
                      <td>0</td> 
                      

                </tr>
            </tbody>
        </table>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">FECHAR</button>
        
      </div>
    </div>
  </div>
</div>