<div class="modal fade" id="staticBackdropStatus" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">ANDAMENTO</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="textQuantidadeOrdem"></p>
        <table class="table">
          <thead class="table-dark">
            <tr>
              <td>#</td>
              <th>PINTURA</th>
              <th>SILK</th>
              <th>HOT</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-success">(produzido)</td>
              <td class="text-success" id="tdPintura"></td>
              <td class="text-success" id="tdSilk"></td>
              <td class="text-success" id="tdHot"></td>
            </tr>

             <tr>
              <td class="text-danger">(saldo)</td>
              <td class="text-danger" id="saldoPintura"></td>
              <td class="text-danger" id="saldoSilk"></td>
              <td class="text-danger" id="saldoHot"></td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">FECHAR</button>

      </div>
    </div>
  </div>
</div>

<script>
  function statusProducao(element) {
    
    
   
    var quantidadeOrdem = element.querySelector('#quantidadeOrdem');
     
    document.getElementById('textQuantidadeOrdem').innerText = `Quantidade da ordem de producao: ${quantidadeOrdem.textContent}`;

    var quantidadePintura = element.querySelector('#quantidadeProduzidoPintura');
    document.getElementById('tdPintura').innerText = quantidadePintura.value;

    var saldo = Number(quantidadeOrdem.textContent) - Number(quantidadePintura.value);
    document.getElementById('saldoPintura').innerText = saldo;
    
    
  }
</script>