<div class="modal fade" id="staticBackdropTransfer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">TRASNFERIR PARA QUAL MAQUINA</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       
        <form class="" method="post" action="/filamaquina/transferir">
          <input type="hidden" name="idFilaMaquina" id="idFilaMaquina" />
          <select class="form-select" name="idMaquina" id="">

            <option>Selecione ...</option>
            <%
            console.log(typeof maquinas)
            if(typeof maquinas !='undefined' ){ var arrMaquinas=JSON.parse(maquinas); arrMaquinas.forEach(maquina=>{%>
              <option value="<%= maquina.idMaquina %>">
                <%= maquina.descMaquina %>
              </option>
              <%})}%>
          </select>
          <input type="submit" name="TRASNFERIR" class="btn btn-success" />
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">FECHAR</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    function transferir(id) {
      console.log(id)
      var idFilaMaquina = document.getElementById('idFilaMaquina');
      idFilaMaquina.setAttribute("value", id);      
    }

  </script>