<main class="container-sm" style="border: 1px solid black;">
    <div class="row">
        <button data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" class="btn btn-warning">PAUSAR</button>
    </div>
    
</main>
<%- include('modalSelectMotivo') %>