<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">SELECIONE O MOTIVO</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select>
            <%
                var arrSubMotivos = JSON.parse(subMotivos);
                arrSubMotivos.forEach(subMotivo =>{
            %>
                    <option value="<%=subMotivo.idSubMotivo%>"><%=subMotivo.descSubMotivo%></option>
            <%});%>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
        <button type="button" class="btn btn-primary">CONFIRMAR</button>
      </div>
    </div>
  </div>
</div>